/**/@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic);
html,
body {
  overflow-x: hidden!important;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background: #f9f9f9;
  min-height:150px;
}
a {
  color: #3c8dbc;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #72afd2;
}
.wrapper {
  min-height: 100%;
}
.wrapper:before,
.wrapper:after {
  display: table;
  content: " ";
}
.wrapper:after {
  clear: both;
}
body > .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}
.right-side,
.left-side {
  min-height: 100%;
  display: block;
}
.right-side {
  background-color: #f9f9f9;
  margin-left: 220px;
}
.left-side {
  position: absolute;
  width: 216px;
  top: 0;
}

.content{
padding:5px 15px 5px 15px;
}
@media screen and (min-width: 767px) {
  .left-side {
    top: 50px;
  }
  .right-side.strech {
    margin-left: 0;
  }
  .right-side.strech > .content-header {
    margin-top: 0px;
  }
  .left-side.collapse-left {
    left: -220px;
  }
}
@media screen and (max-width: 767px) {
    .right-side {
        margin-left: 0;
        width:100% !important;
    }

    .left-side {
        position: relative;
        width: 100%;
    }
}
body.fixed > .header,
body.fixed .left-side,
body.fixed .navbar {
  position: fixed;
}
body.fixed > .header {
  top: 0;
  right: 0;
  left: 0;
}
body.fixed .navbar {
  left: 0;
  right: 0;
}
body.fixed .wrapper {
  margin-top: 50px;
}
.content {
  padding: 5px 15px;
  background: #f9f9f9;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Source Sans Pro', sans-serif;
}
.page-header {
  margin: 10px 0 20px 0;
  font-size: 22px;
}
.page-header > small {
  color: #666;
  display: block;
  margin-top: 5px;
}
img {
  max-width: 100%important;
}
.sort-highlight {
  background: #f4f4f4;
  border: 1px dashed #ddd;
  margin-bottom: 10px;
}
.pad {
  padding: 10px;
}
.margin {
  margin: 10px;
}
.inline {
  display: inline;
  width: auto;
}

.flat {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f3f4f5;
}
table.text-center td,
table.text-center th {
  text-align: center;
}
.jqstooltip {
  padding: 5px!important;
  width: auto!important;
  height: auto!important;
}
body > .header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}
body > .header .navbar {
  height: 50px;
  margin-bottom: 0;
  margin-left: 220px;
}
body > .header .navbar .sidebar-toggle {
  float: left;
  padding: 9px 5px;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 8px;
  margin-left: 5px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
body > .header .navbar .sidebar-toggle:hover .icon-bar {
  background: #f6f6f6;
}
body > .header .navbar .sidebar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
body > .header .navbar .sidebar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
body > .header .navbar .nav > li.user > a {
  font-weight: bold;
}
body > .header .navbar .nav > li.user > a > .fa,
body > .header .navbar .nav > li.user > a > .glyphicon,
body > .header .navbar .nav > li.user > a > .ion {
  margin-right: 5px;
}
body > .header .navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 2px;
  font-size: 10px;
  font-weight: normal;
  width: 15px;
  height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}
body > .header .navbar .nav > li > a:hover > .label {
  top: 3px;
}
.logo {
    background: url(../img/logo.png) no-repeat;
    width:132px;
    height:32px;
    margin-top:10px;
}
body > .header .logo {
  float: left;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  padding: 0 10px;
  width: 220px;
  font-family: 'Kaushan Script', cursive;
  font-weight: 500;
  height: 50px;
  display: block;
}
body > .header .logo .icon {
  margin-right: 10px;
}
.detail-header-title{ padding:0px 25px; font-size:28px; min-height:47px;padding-left:10px;}
.detail-header-title .title{font-size:21px; padding-left:10px;vertical-align: middle;top: -1px;position: relative;}
.detail-header-title  > .fa-list{vertical-align:middle;}
.fact-count{ color:#999; font-weight:400}

.right-side > .content-header {
  position: relative;
  padding: 0;
}
.right-side > .content-header > h1 {
  margin: 0;
  font-size: 24px;
}
.right-side > .content-header > h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}
.right-side > .content-header > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.right-side > .content-header > .breadcrumb > li > a {
  color: #444;
  text-decoration: none;
}
.right-side > .content-header > .breadcrumb > li > a > .fa,
.right-side > .content-header > .breadcrumb > li > a > .glyphicon,
.right-side > .content-header > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.right-side > .content-header > .breadcrumb > li + li:before {
  content: '>\00a0';
}
@media screen and (max-width: 767px) {
  .right-side > .content-header > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #efefef;
  }
}
@media (max-width: 767px) {
  .navbar .navbar-nav > li {
    float: left;
  }
  .navbar-nav {
    margin: 0;
    float: left;
    margin-top:10px;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
  }
  .navbar .navbar-right {
    float: right;
  }
}

/*
    Component: Sidebar
--------------------------
*/
.sidebar {
  margin-bottom: 5px;
}
.sidebar .sidebar-form input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent!important;
}
.sidebar .sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu  .filter-menu{  
  padding: 5px 2px 2px 17px;
  max-height:160px;
  overflow-y:auto;
}

.sidebar .sidebar-menu > li {
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
  color:#222;
}
.sidebar .sidebar-menu > li > a > .fa,
.sidebar .sidebar-menu > li > a > .glyphicon,
.sidebar .sidebar-menu > li > a > .ion {
  width: 20px;
}
.sidebar .sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .sidebar-menu .treeview-menu > li {
  margin: 0;
}
.sidebar .sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
  margin: 0px 0px;
}
.sidebar .sidebar-menu .treeview-menu > li > a > .fa,
.sidebar .sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar .sidebar-menu .treeview-menu > li > a > .ion {
  width: 20px;
}
.user-panel {
  padding: 10px;
}
.device-head{
  font-size: 20px;
}
.device-head span{
  font-size: 13px;
}
.user-panel:before,
.user-panel:after {
  display: table;
  content: " ";
}
.user-panel:after {
  clear: both;
}
.user-panel > .image > img {
  width: 45px;
  height: 45px;
}
.user-panel > .info {
  font-weight: 600;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  line-height: 1;
}
.user-panel > .info > p {
  margin-bottom: 9px;
}
.user-panel > .info > a {
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  font-size: 11px;
  font-weight: normal;
}
.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
  margin-right: 3px;
}

/*
    Navbar custom dropdown menu
------------------------------------
*/
.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  width: 280px;
  padding: 0 0 0 0!important;
  margin: 0!important;
  top: 100%;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header:after,
.navbar-nav > .messages-menu > .dropdown-menu > li.header:after,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header:after {
  bottom: 100%;
  left: 92%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 7px;
  margin-left: -7px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #f4f4f4;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444444;
  text-align: center;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
  background: #f4f4f4;
  text-decoration: none;
  font-weight: normal;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
  background: #f6f6f6;
  text-decoration: none;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  font-size: 12px;
  color: #444444;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
  font-size: 20px;
  width: 50px;
  text-align: center;
  padding: 15px 0px;
  margin-right: 5px;
  background: #00c0ef;
  color: #f9f9f9;
  color: rgba(255, 255, 255, 0.7);
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.danger,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.danger,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.danger {
  background: #f56954;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.warning,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.warning,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.warning {
  background: #f39c12;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.success,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.success,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.success {
  background: #00a65a;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.info,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.info,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.info {
  background: #00c0ef;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
  margin: 0px;
  line-height: 20px;
  padding: 10px 5px 10px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
  border: 1px solid #dddddd;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 15px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
  color: #999999;
  font-size: 10px;
  float: right;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:before,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  display: table;
  content: " ";
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  clear: both;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  padding: 10px;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > h3 {
  font-size: 14px;
  padding: 0;
  margin: 0 0 10px 0;
  color: #666666;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > .progress {
  padding: 0;
  margin: 0;
}
.navbar-nav > .user-menu > .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 1px 0 0 0;
  border-top-width: 0;
  width: 280px;
}
.navbar-nav > .user-menu > .dropdown-menu:after {
  bottom: 100%;
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 175px;
  padding: 10px;
  background: #3c8dbc;
  text-align: center;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 8px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
  z-index: 5;
  color: #f9f9f9;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  text-shadow: 2px 2px 3px #333333;
  margin-top: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
  display: block;
  font-size: 12px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #dddddd;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body:before,
.navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
  display: table;
  content: " ";
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
  clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body > div > a {
  color: #0073b7;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
  background-color: #f9f9f9;
  padding: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:before,
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
  display: table;
  content: " ";
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
  clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer .btn-default {
  color: #666666;
}
.open > .dropdown-menu {
  animation-name: fadeAnimation;
  animation-duration: .7s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: fadeAnimation;
  -webkit-animation-duration: .7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: fadeAnimation;
  -moz-animation-duration: .7s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes fadeAnimation {
  from {
    opacity: 0;
    top: 120%;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}
@-webkit-keyframes fadeAnimation {
  from {
    opacity: 0;
    top: 120%;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}
@media screen and (max-width: 767px) {
  .navbar-nav > .notifications-menu > .dropdown-menu,
  .navbar-nav > .user-menu > .dropdown-menu,
  .navbar-nav > .tasks-menu > .dropdown-menu,
  .navbar-nav > .messages-menu > .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    background: #ffffff;
  }
}
/* Fix menu positions on xs screens to appear correctly and fully */
@media screen and (max-width: 480px) {
  .navbar-nav > .notifications-menu > .dropdown-menu > li.header,
  .navbar-nav > .tasks-menu > .dropdown-menu > li.header,
  .navbar-nav > .messages-menu > .dropdown-menu > li.header {
    /* Remove arrow from the top */
  }
  .navbar-nav > .notifications-menu > .dropdown-menu > li.header:after,
  .navbar-nav > .tasks-menu > .dropdown-menu > li.header:after,
  .navbar-nav > .messages-menu > .dropdown-menu > li.header:after {
    border-width: 0px!important;
  }
  .navbar-nav > .tasks-menu > .dropdown-menu {
    position: absolute;
    right: -120px;
    left: auto;
  }
  .navbar-nav > .notifications-menu > .dropdown-menu {
    position: absolute;
    right: -170px;
    left: auto;
  }
  .navbar-nav > .messages-menu > .dropdown-menu {
    position: absolute;
    right: -210px;
    left: auto;
  }
}

/* skin-gray navbar */
.skin-gray .navbar {
  background-color: #1a1a1a;
  margin:0;
}
.skin-gray .navbar .nav a {
  color: #fff;
}
.skin-gray .navbar .nav > li > a:hover,
.skin-gray .navbar .nav > li > a:active,
.skin-gray .navbar .nav > li > a:focus,
.skin-gray .navbar .nav .open > a,
.skin-gray .navbar .nav .open > a:hover,
.skin-gray .navbar .nav .open > a:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-gray .navbar .navbar-right > .nav {
  margin-right: 10px;
}
.skin-gray .navbar .sidebar-toggle .icon-bar {
  background: rgba(255, 255, 255, 0.8);
}
.skin-gray .navbar .sidebar-toggle:hover .icon-bar {
  background: #f6f6f6 !important;
}
.skin-gray .logo {
  background-color: transparent;
  color: #f9f9f9;
}
.skin-gray .logo > a {
  color: #f9f9f9;
}

.skin-gray .right-side > .content-header {
  background: #fbfbfb;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.skin-gray .user-panel > .image > img {
  border: 1px solid #dfdfdf;
}
.skin-gray .user-panel > .info,
.skin-gray .user-panel > .info > a {
  color: #555555;
}
.skin-gray .sidebar {
  border-bottom: 1px solid #fff;
}
.skin-gray .sidebar > .sidebar-menu > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb;
}
.skin-gray .sidebar > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #dbdbdb;
}
.skin-gray .sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 1px solid #fff;
}
.skin-gray .sidebar > .sidebar-menu > li > a {
  margin-right: 0px;
}
.skin-gray .sidebar > .sidebar-menu > li > a:hover,
.skin-gray .sidebar > .sidebar-menu > li.active > a {
  color: #222;
  background: #dddddd;
  cursor: inherit;
}
.skin-gray .sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #f9f9f9;
}
.skin-gray .left-side {
  background: #f4f4f4;
  -webkit-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
}
.skin-gray .sidebar a {
  color: #555555;
}
.skin-gray .sidebar a:hover {
  text-decoration: none;
}
.skin-gray .treeview-menu > li > a {
  color: #777;
}
.skin-gray .treeview-menu > li.active > a,
.skin-gray .treeview-menu > li > a:hover {
  color: #111;
}
.skin-gray .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
}

.skin-gray .sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-gray .sidebar-form input[type="text"]:focus,
.skin-gray .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-gray .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-gray .sidebar-form .btn {
  color: #999;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}

.filter-menu li{
  list-style: none;
}
.filter-menu input{
  margin-right: 5px;
  float:left;
}
.sidebar .sidebar-menu .filter-menu > li {
  padding: 2px 5px 1px 0px;
  display: block;
  font-size: 12px;
  color: #666;
  margin: 0px 0px;
  overflow:hidden; 
}

.filter-text {
   overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.box {
  position: relative;
  background: #ffffff;
  border-top: 4px solid #c1c1c1;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 0px;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.box .box-body {
  padding: 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.box .box-header {
  position: relative;
  border-bottom: 1px solid #dddddd;
  color: #444;
  padding-bottom: 0px;
  min-height: 58px;
}

.box .box-sub-header {
  background-color: #fafafa;
  position: relative;
  color: #333333;
  padding: 10px 10px;
  font-size: 16px;
}
.box .box-header > .fa,
.box .box-header > .glyphicon,
.box .box-header > .ion,
.box .box-header .box-title {
  display: inline-block;
  padding: 17px 0px 10px 10px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  float: left;
  cursor: default;
  line-height:1;
}
.skin-gray .sidebar-form input[type="text"],
.skin-gray .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #fafafa;
  height: 35px;
}
.btn.btn-flat {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
.btn-red{
  background-color: #c40023;
  color: #fff;
}
.btn-green{
  background-color: #008d4c;
  color: #fff;
}
.btn-yellow{
  background-color: #ff9d00;
  color: #fff;
}
.bg-red {
  background-color: #c40022 !important;
}
.bg-green {
background-color: #008d4c;
}
.bg-yellow {
background-color: #ff9d00;
}
.box-body h4{
  margin-top: 8px;
}
.padding-muted{
  padding: 0px;
}
.sidebar-head{
  background-color: #dddddd;
}


/*------------------------------------------------------------------------- Common -----------------------------------------------------------------------------------------------*/
.nav a{display:inline-block !important;cursor:pointer;}
.header{min-height:50px;}
.hide{display:none;}
.align-center {align:center; margin:0 auto;}
.showCursor{cursor:pointer !important;}
.padding-left-muted{padding-left: 0px;}
.padding-right-muted{padding-right: 0px;}
.margin-muted {margin:0;}
.margin-left-muted {margin-left:0;}
.norecords{ padding:5px 10px 20px;}
input[type=checkbox], button, a{outline:none!important;}

.uppercase{text-transform: uppercase;}
/*------------------------------------------------------------------------- Modal dialogue -----------------------------------------------------------------------------------------------*/

/**
 * rxModalAction.less
 *
 * Stylesheet for modals, repurposed from the modal component of http://angular-ui.github.io/bootstrap
 *
 * @version 1.0
 * @author Ernie Hsiung
 */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 604px;
  margin-left: -300px;
  background-color: #ffffff;
  border:none;
  /*
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
      */
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
          background-color:transparent;
          box-shadow:none;
}

.modal.fade.in {
  top: 10%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .cclose {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
/*source from encore UI*/
.modal-header .modal-title {
  line-height: 1;
  /*font-size: 1.75em;*/
  margin: 0;
}
.modal-header .modal-subtitle {
  line-height: 1.5;
  font-size: 1em;
  font-wieght: bold;
  color: #989998;
  margin: 0;
}
.modal-header .modal-close {
  position: absolute;
  right: 0;
  font-size: 2em;
  width: 1em;
  height: 1em;
  text-align: center;
  color: #e5e5e5;
}
.modal-header .modal-close:hover,
.modal-header .modal-close:focus {
  color: #cccccc;
}
.modal-header .modal-close:before {
  content: '\00D7';
  position: absolute;
  line-height: 0;
  right: 0;
  width: 1em;
}

.btn-link {
  color: #4682c2;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
}
.btn-link:hover,
.btn-link:focus {
  text-decoration: underline;
}
/*End encore UI*/

/*------------------------------------------------------------------------- Modal dialogue -----------------------------------------------------------------------------------------------*/
.action-modal{overflow:hidden!important;}
.fluid-modal { width: 50% !important; left: 25% !important; margin-left: auto; margin-right: auto; height:90% !important; top: 5% !important; background-color:transparent;}
.fluid-modal .modal-header { top:0; height:30px;}
.fluid-modal .modal-footer { position:absolute; bottom:0; left: 0; right: 0;}
.fluid-modal .modal-body { position:absolute; bottom:50px; top:50px;left: 0; right: 0; max-height:none !important;}
button[disabled].savebutton{opacity:0.6!important;}
/*------------------------------------------------------------------------- Exception notification -----------------------------------------------------------------------------------------------*/
.notification-bar {display: inline-block;padding: 0 9px;border: none;overflow: hidden; box-shadow:none; font-size: 12px; line-height: 12px;color: #404040;  position: fixed; left: 50%; background: #FFFFFF; margin-left: 0 !important;-moz-animation-delay: 0s;-moz-animation-duration: 0.2s; -moz-animation-fill-mode: both;-moz-animation-timing-function: ease; -moz-transform: translate(-50%);-webkit-transform: translate(-50%);-ms-transform: translate(-50%); transform: translate(-50%); border:1px solid black;padding:10px;min-width:250px;}
.notification-bar .nav li { padding-left:8px;}
.success {background-color: #dff0d8;}
.error {background-color: #f2dede;}
.warning{background-color: #fcf8e3;}

.notification-holder{top: -55px;z-index:1055;}
.notification-container {position: fixed;z-index:1055;top:6px;}
.notification-bar > * {line-height: 24px; vertical-align: middle;}
.notification em {white-space: nowrap;overflow: hidden; text-overflow: ellipsis; display: block; max-width: 800px; word-wrap: normal;}
.notification-bar .notification-controls {position: absolute;right: 5px;top: -3px;}
.notification-bar .notification-controls span { margin-left: 4px;}
.notification-bar ul{line-height:18px;list-style:none;}
.notification-bar ul li{line-height:18px;}
/*success*/
.notification-bar.success {border-color: #b0ca64;}
.notification-bar.success:before {background-position: -48px 0;}
.success .fa{font-size:13px; color:#b0ca64; padding-right:4px;}
/*error*/
.notification-bar.error {border-color: #f87878;}
.notification-bar.error:before {background-position: -32px 0;}
.error .fa{font-size:13px; color:#f87878; padding-right:4px;}
/*warning*/
.notification-bar.warning {border-color: #ff9c00;}
.notification-bar.warning:before {background-position: -16px 0;}
.warning .fa{font-size:13px; color:#ff9c00; padding-right:4px;}

/*information*/.notification-bar.information {}
.notification-bar.information:before {}


/*------------------------------------------------------------------------- Filter -----------------------------------------------------------------------------------------------*/

.filterSearch-holder{box-sizing:border-box;position:relative;margin-top:-2px;}
.filterSearch-holder>input[type="text"]{padding:3px 30px;border-radius:15px;display:inline-block;width:250px;height:32px;font-size:15px;background-color:transparent !important;outline: 0;box-shadow: none; border: 1px solid #999;-webkit-search-decoration:none;-webkit-search-cancel-button: none; -webkit-search-results-button:none;-webkit-search-results-decoration: none}
.filterSearch-holder>input[type="text"]:focus, .filterSearch-holder>input[type="text"]:hover{ box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.15);}
.search-icon{background:url(../img/search-icon.png) no-repeat;background-position:-2px -2px;position:absolute; width:20px; height:18px;top:16px;left:9px;}
.seachClose-icon{background:url(../img/search-icon.png) no-repeat;background-position:-3px -25px;position:absolute; width:20px; height:20px;top:15px;left:224px;}
.filter-chkbox{margin-top:2px !important;}
.filter-chkbox-lbl {padding-left:4px;}
.filterSearch-holder>input[type="text"]::-ms-clear {display: none;}
.filter-item{ max-width: 140px; overflow:hidden; text-overflow:ellipsis; white-space: nowrap; float: left; margin-right: 3px; margin-top:2px;}
.filter-menu li{ clear: both; height: 25px;}
.fltr-clear:hover{color:darkgray;}
.fltr-clear-all{padding-top:6px;}

/*------------------------------------------------------------------------- Loader -----------------------------------------------------------------------------------------------*/
.loader-backdrop { bottom: 0; left: 0; position: fixed; right: 0;top: 0;z-index: 99999;}
/* wcOverlay directive CSS styles */
.overlayBackground { top:0px; left:0px;position:absolute; z-index:1051;height:100%;width:100%;background-color:#000;opacity:0.3; right:0; bottom:0;}
.overlayContent { position:absolute; border: 0px solid #000; background-color:none; font-weight: bold;height: 60px;width: 110px;z-index:5000;text-align:start;top:50%;left:50%}
.spinner{font-size:x-large;}

/*-------------------------------------------------------------------------Device List -----------------------------------------------------------------------------------------------*/
.available{background-color:#00a96d!important}
.maintenance{background-color:#ff9d00!important}
.suspended{background-color:#c40022!important}
.allocated{background-color:#dddddd!important}
.row-Allocated{cursor:default;}/* it is dynamic class*/
.row-Allocated div{opacity:0.5;}
.row-Allocated a{cursor:default; color:#333;}
.rs-table-checkbox{width:10px}
.rs-cog{background:url(../img/icon-sbcab0c488b.png) no-repeat;width:16px;height:16px;margin:0;padding:0;background-color:none;border:0;cursor:pointer;display:-moz-inline-stack;display:inline-block;vertical-align:middle;background-position:0 -95px;text-indent:100%;overflow:hidden;white-space:nowrap}
.rs-cog:active,.rs-cog.active,.rs-cog:hover,.rs-cog.hover{background-position:0 -69px}
.rs-cog[disabled],.rs-cog.disabled{cursor:default;background-position:0 -121px}
.device-list-cont{padding-right:5px;}
.uib-dropdown-menu.device-action > li {margin:5px 2px;}
.uib-dropdown-menu.device-action > li >a {margin:6px 10px;}
.device-action.dropdown-menu>li>a.disabled{opacity:0.7;cursor: default;}
.device-action.dropdown-menu>li>a.disabled:focus, .device-action.dropdown-menu>li>a.disabled:hover{background-color:transparent;cursor: default;}
/*-------------------------------------------------------------------------End Loader -----------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------Cabinet -----------------------------------------------------------------------------------------------*/

.cabinet .detail-header-title .title{font-size:24px;top:0px;padding:0px; text-transform:capitalize;font-weight:500;}
.cabinet .detail-header-title .title:first-letter {text-transform: uppercase;}
.cabinet .sub-header{padding:0px 10px; padding-bottom:10px;}
.cabinet .sub-header .title{padding:2px 2px;}
.cabinet .sub-header .title strong{padding-right:4px;}

.dropdown-menu.status li{padding:0 12px;}
.dropdown-menu.status input[type="checkbox"]{margin-right:5px;}
.select-all-radio{opacity:0;z-index:-1;position:absolute;}
/*-------------------------------------------------------------------------Navigation -----------------------------------------------------------------------------------------------*/
.tab-nav .active{background-color: #a00;}
.tab-nav li{margin:0 3px;}
.tab-nav li:hover{background-color: #a00;}

.tab-nav .dropdown-menu a{color:#000!important;width:100%; padding:5px 15px;}
.tab-nav .dropdown .dropdown-menu a:hover{background-color:#ddd;}
/*--------------------------------------------------------------------------NG-Grid---------------------------------------------------------------------------------------------------*/
.ui-grid-top-panel {overflow: visible;}
.ui-grid-header-viewport {overflow: visible;}
.ui-grid-cell > .ui-grid-cell-contents {overflow: visible;}
.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {background-color: #F0F0EE !important; border-bottom: solid 1px #d4d4d4;}
.ui-grid-icon-down-dir:before {content: '\c358';}
/* '썘' */
.ui-grid-icon-up-dir:before {content: '\c359';}
.ui-grid-row-selected {background-color: #f3f3f3 !important;}
@font-face { font-family: 'ui-grid'; src: url('../fonts/ui-grid.eot'); src: url('../fonts/ui-grid.eot#iefix') format('embedded-opentype'), url('../fonts/ui-grid.woff') format('woff'), url('../fonts/ui-grid.ttf?') format('truetype'), url('../fonts/ui-grid.svg?#ui-grid') format('svg'); font-weight: normal; font-style: normal;}
.ui-grid-top-panel {background:none !important;}
.ui-grid, .ui-grid-header-cell{border:none!important;}
.ui-grid { border-bottom: 1px solid #d4d4d4 !important;}
/**/.ui-grid-pinned-container-left{display:none!important;}
.ui-grid-render-container-body{margin-left:0px !important;}
.ui-grid-cell{border-right:none!important;background-color:transparent!important;}
.ui-grid-row{border-bottom:1px solid #d4d4d4!important;}
