 <div class="modal-header">
<button type="button" class="modal-close btn-link" data-dismiss="modal" aria-hidden="true" title="Close" ng-click="msgDialog.close()"></button>
            <h3 class="modal-title" ng-bind="msgDialog.header"></h3>
</div>
<div class="modal-body device-details-Cont" ng-bind="msgDialog.msg">
    
</div>
     
<div class="modal-footer">
     <div class="rs-btn-group" style="float:right;">                       
          <button ng-repeat = "bt in msgDialog.buttons" style="margin:0 5px;"
              class="rs-btn modify-selected rs-popover-source" ng-class="bt.cssClass"
              ng-click="msgDialog.onButtonClick(bt.result)" ng-bind="bt.label"></button>
     </div>
</div>


