<div class="popover fade right in" role="tooltip" style="display: block;">
    <div class="arrow" style="top:45px;"></div>
    <h3 class="popover-title" ng-bind="tooltip.constant.deviceMaintenanceModule.STATUS.MAINTENANCE"></h3>
    <div class="popover-content">{{tooltip.constant.deviceMaintenanceModule.TOOLTIP[tooltip.constant.deviceMaintenanceModule.STATUS.MAINTENANCE]}}</div>
    <h3 class="popover-title" ng-bind="tooltip.constant.deviceMaintenanceModule.STATUS.SUSPENDED"></h3>
    <div class="popover-content">{{tooltip.constant.deviceMaintenanceModule.TOOLTIP[tooltip.constant.deviceMaintenanceModule.STATUS.SUSPENDED]}}</div>
    <h3 class="popover-title" ng-bind="tooltip.constant.deviceMaintenanceModule.STATUS.AVAILABLE"></h3>
    <div class="popover-content">{{tooltip.constant.deviceMaintenanceModule.TOOLTIP[tooltip.constant.deviceMaintenanceModule.STATUS.AVAILABLE]}}</div>
</div>