<div class="page page-dashboard">

    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th-list"></span> <span>Lines of Code</span></strong></div>
                <div class="panel-body" >
                    <div class="row code-row">
                        <div class="col-lg-3 col-sm-6 col-xs-6">
                            <h1 title="{{dashboardVM.dashboard.loc}}">{{dashboardVM.kFormatter(dashboardVM.dashboard.loc)}}</h1>
                            <p>Lines of code</p>                            
                        </div>
                        <div class="col-lg-3 col-sm-6 col-xs-6">
                            <h1 title="{{dashboardVM.dashboard.files}}">{{dashboardVM.kFormatter(dashboardVM.dashboard.files)}}</h1>
                            <p>Files</p>                            
                        </div>
                        <div class="col-lg-3 col-sm-6 col-xs-6" ng-if="dashboardVM.dashboard.totalFunction>0">
                            <h1 title="{{dashboardVM.dashboard.totalFunction}}">{{dashboardVM.kFormatter(dashboardVM.dashboard.totalFunction)}}</h1>
                            <p>Functions</p>                            
                        </div>
                        <div class="col-lg-3 col-sm-6 col-xs-6 hover-color">
                            <h1 title="{{dashboardVM.dashboard.isDupsPresent? dashboardVM.dashboard.numberOfDups : 0}}"
                            style="cursor:pointer;"
                            ng-click="shellVM.onStateChange(shellVM.CONST.details.DUPLICATION_DETAILS_ROUTER_NAME, dashboardVM.routeParams, $event)">{{dashboardVM.kFormatter(dashboardVM.dashboard.isDupsPresent? dashboardVM.dashboard.numberOfDups : 0)}}</h1>
                            <p>Duplicated blocks</p>
                                                        
                        </div>
                 </div>
                   <div><nvd3 options="dashboardVM.options" data="dashboardVM.data" interactive="true"
        tooltips="true" tooltipcontent="dashboardVM.toolTipContentFunction()"></nvd3></div>
                </div>
            </section> 
        </div>       
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-cloud-upload"></span> <span>Code Coverage</span></strong></div>
                <div class="panel-body" >
                <div class="row code-row" ng-show="dashboardVM.testSummary===undefined"><span class="col-md-12">
                            <p class="size-h4"><span>No Test Cases Found</span></p>
                        </span> </div>
                    <div class="row code-row" ng-hide="dashboardVM.testSummary===undefined">
                        <div class="col-lg-3 col-sm-6 col-xs-6">
                            <h1 title="{{dashboardVM.testSummary.pct}} %">{{dashboardVM.testSummary.pct}}%</h1>
                            <p>Coverage</p>                            
                        </div>
                        <div class="col-lg-2 col-sm-2 col-xs-2">
                            <h1 title="{{dashboardVM.testSummary.total}}">{{dashboardVM.kFormatter(dashboardVM.testSummary.total)}}</h1>
                            <p>Test Cases</p>                            
                        </div>
                        <div class="col-lg-2 col-sm-2 col-xs-2">
                            <h1 title="{{dashboardVM.testSummary.success}}">{{dashboardVM.kFormatter(dashboardVM.testSummary.success)}}</h1>
                            <p>Passed</p>                            
                        </div>
                        <div class="col-lg-2 col-sm-2 col-xs-2">
                            <h1 title="{{dashboardVM.testSummary.failed}}"
                            style="cursor:pointer;"
                            >{{dashboardVM.kFormatter(dashboardVM.testSummary.failed)}}</h1>
                            <p>Failed</p>                            
                        </div>
                            <div class="col-lg-3 col-sm-6 col-xs-6">
                            <h1 title="{{dashboardVM.testSummary.skipped}}"
                            style="cursor:pointer;"
                            >{{dashboardVM.kFormatter(dashboardVM.testSummary.skipped)}}</h1>
                            <p>Skipped</p>                            
                        </div>
                 </div>
                   <div><nvd3 options="dashboardVM.testReportChart" data="dashboardVM.data" interactive="true"
                    tooltips="true" tooltipcontent="dashboardVM.toolTipContentFunction()"></nvd3></div>
                </div>
            </section> 
        </div>       
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-random"></span> <span>Duplication block metrics</span></strong></div>
                <div class="panel-body" >
                    <div class="row">
                        <span class="col-md-12">
                            <p class="size-h4"><span>Duplication block with lines of Code</span></p>
                        </span>  
                 </div>
                   <div ng-if="dashboardVM.redundantData"><nvd3 options="dashboardVM.redundantDataOptions" data="dashboardVM.redundantData"></nvd3></div>
                    <div ng-if="!dashboardVM.redundantData"> No duplication blocks found.</div>
                </div>
            </section> 
        </div>       
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-zoom-in"></span> <span data-i18n="Realtime Data">Violations</span></strong></div>
                <div class="panel-body">
                     <div  ng-if="!dashboardVM.violationData">
                         No Issues found.
                     </div>
                    <div class="row code-row-x" ng-if="dashboardVM.violationData">                       
                        <div class="col-lg-2 col-sm-4 col-xs-12 text-center">
                           <font ng-repeat="(key, value) in dashboardVM.violations">
                             <h1 title="{{value}}">{{dashboardVM.kFormatter(value)}}</h1>
                            <p class="letter-capitalize">{{key}}</p>
                           </font>
                           <!--  <h1 title="{{dashboardVM.violations['error']}}">{{dashboardVM.kFormatter(dashboardVM.violations['error'])}}</h1>
                            <p>Issues</p>
                            <h1 title="{{dashboardVM.violations['warning']}}">{{dashboardVM.kFormatter(dashboardVM.violations['warning'])}}</h1>
                            <p>Warnings</p>                            
                            <h1 title="{{dashboardVM.violations['info']}}">{{dashboardVM.kFormatter(dashboardVM.violations['info'])}}</h1>
                            <p>Info</p> -->
                        </div>
                         <div class="col-lg-5 piechart no-cursor nv-series">
                           <nvd3 id="pieChart" options="dashboardVM.pieChartoptions" data="dashboardVM.violationData"></nvd3>
                        </div>
                        <div class="col-lg-5">                           
                                <div class="box-info">
                                <div class="panel panel-default">
                                  <table class="table table-bordered cursor-pointer table-hover" ng-click="shellVM.onStateChange(shellVM.CONST.issue.ISSUE_DETAILS_ROUTER_NAME, dashboardVM.routeParams, $event)">
                                        <thead>
                                            <tr>
                                                <th>Severity</th>
                                                <th>Nos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="dashboardVM.issuesCountInfo.blocker>0">
                                                <td>Blocker</td>
                                                <td><span class="badge badge-error blocker">{{dashboardVM.issuesCountInfo.blocker}}</span></td>
                                            </tr>
                                           <tr  ng-if="dashboardVM.issuesCountInfo.critical>0">
                                                <td>Critical</td>
                                                <td><span class="badge badge-error critical">{{dashboardVM.issuesCountInfo.critical}}</span></td>
                                            </tr>
                                            <tr  ng-if="dashboardVM.issuesCountInfo.major>0">
                                                <td>Major</td>
                                                <td><span class="badge badge-info">{{dashboardVM.issuesCountInfo.major}}</span></td>
                                            </tr>
                                            <tr  ng-if="dashboardVM.issuesCountInfo.minor>0">
                                                <td>Minor</td>
                                                <td><span class="badge badge-success">{{dashboardVM.issuesCountInfo.minor}}</span></td>
                                            </tr>
                                            <tr ng-repeat="(key, value) in dashboardVM.violations">
                                               <td class="letter-capitalize">{{key}}</td>
                                               <td><span class="badge badge-info">{{dashboardVM.getViolationDataByType(key)}}</span></td>
                                           </tr>
                                            <!-- <tr>
                                                <td>Info</td>
                                                <td><span class="badge badge-info">{{dashboardVM.getViolationDataByType('info')}}</span></td>
                                            </tr>
                                            <tr>
                                                <td>Warnings</td>
                                                <td><span class="badge badge-warning">{{dashboardVM.getViolationDataByType('warning')}}</span></td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                 </div>
                                
                            </div>
                        </div>
                        </div>
                    </div>                   
                </div>
            </div>        
   
</div>
  