    <div class="page page-dashboard">

        <div class="row">
            <div class="col-md-12">
                <section class="panel panel-default">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th-list"></span> <span>DUPLICATIONS</span></strong></div>
                    <div class="panel-body">
                        <div class="row code-row">
                            <div class="col-lg-3 col-sm-6 col-xs-6">
                                <div class="zipper">
                                    <div class="target">
                                        <div id="donut1"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-sm-6 col-xs-6">
                                <h1>{{duplicationCodeDetailsVM.overallLOCDetails[0].numberOfDups}}</h1>
                                <p>Duplicated Blocks</p>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-xs-6">
                                <h1>{{duplicationCodeDetailsVM.duplicateLOCDetails.length}}</h1>
                                <p>Duplicated Files</p>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-xs-6">
                                <h1>{{duplicationCodeDetailsVM.totalDuplicatedLOC}}</h1>
                                <p>Duplicated LOC</p>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
        <div class="row">
            <div id='reference' ng-if="!duplicationCodeDetailsVM.selectedFiles || duplicationCodeDetailsVM.selectedFiles.length == 0" ng-class="{'col-md-5 padding-right-muted': duplicationCodeDetailsVM.activePath,'col-md-12':!duplicationCodeDetailsVM.activePath}">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-list"></span> <span data-i18n="Realtime Data">LIST OF FILES</span></strong>
                     <!-- <button class="btn btn-xs btn btn-warning pull-right" ng-click="duplicationCodeDetailsVM.genpdf()"><i class="fa fa-file-pdf-o" aria-hidden="true"> export to pdf</i> --></button>
                    </div>


                                    <div class="panel-body padding-muted">
                   <div id="scroll" jq-slim-scroll slim-scroll-option="{{duplicationCodeDetailsVM.slimScrollOptions}}">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th col-md-1>#</th>
                                    <th col-md-2>File Names</th>
                                    <th col-md-5>Blocks</th>
                                    <th col-md-4>LOC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="file in duplicationCodeDetailsVM.duplicateLOCDetails" ng-click="duplicationCodeDetailsVM.getDuplicatedByWithDiff(file.path)" ng-class="{'row-active': duplicationCodeDetailsVM.activePath == file.path}">
                                    <td col-md-1>{{$index + 1}}</td>
                                    <td col-md-2 style="word-break:break-word;"><span tooltip-placement="top" tooltip="{{file.path}}">{{file.path.substr(file.path.lastIndexOf('/') + 1)}}</span></td>
                                    <td col-md-5>{{file.numberOfDups}}</td>
                                    <td col-md-4>{{file.totalDuplicatedLines}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
             <div class="col-md-12" id="flash" ng-show="duplicationCodeDetailsVM.selectedFiles && duplicationCodeDetailsVM.selectedFiles.length > 0">
                <div class="panel">
                    <div class="panel-body">
                    <div class="alert alert-info margin-muted">
                         <span>Note:There are {{duplicationCodeDetailsVM.selectedFiles.length}} files found to compare, You can change files by clicking on below selectbox</span>
                    </div>
                   <!--  <span id='close' ng-click="duplicationCodeDetailsVM.closeDiv('flash')">x</span> -->
           
            
                    </div>
                </div>
            </div>

            <div ng-if="duplicationCodeDetailsVM.activePath" class="code-seperator" ng-class="{'col-md-6 padding-right-muted': duplicationCodeDetailsVM.selectedFiles && duplicationCodeDetailsVM.selectedFiles.length > 0, 
                'col-md-7  padding-left-muted': !duplicationCodeDetailsVM.selectedFiles || duplicationCodeDetailsVM.selectedFiles.length == 0}">
                <div class="panel panel-default margin-muted ">

                     <div class="panel-heading "><strong><span class="glyphicon glyphicon-list"></span> <span data-i18n="Realtime Data">DUPLICATED FILES</span> <span class="letter-lower margin-muted"><label class="margin-muted" tooltip-placement="top" tooltip="{{duplicationCodeDetailsVM.activePath}}">&nbsp;({{duplicationCodeDetailsVM.activePath.substr(duplicationCodeDetailsVM.activePath.lastIndexOf('/') + 1)}})</label></span></strong>                    
                        <button class="btn btn-xs btn-primary pull-right" ng-click="duplicationCodeDetailsVM.showDuplicatedModal(duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][duplicationCodeDetailsVM.activePath])">Duplications</button>
                        <button class=" btn btn-xs btn-info pull-right files_list"ng-show="duplicationCodeDetailsVM.selectedFiles && duplicationCodeDetailsVM.selectedFiles.length > 0" class="pull-right" ng-click="duplicationCodeDetailsVM.selectedFiles = []">Files List</button>
                    </div>
                    
                    <div class="panel-body padding-muted">
                        <div id="scroll" jq-slim-scroll slim-scroll-option="{{duplicationCodeDetailsVM.slimScrollOptions}}">
                        <table class="source-table">
                            <tbody>                            
                               <tr class="source-line" ng-repeat="key in duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][duplicationCodeDetailsVM.activePath].src | transformObjKeysToArr"
                                    data-line-number="{{key}}"
                                    ng-class="{'empty-cell': duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][duplicationCodeDetailsVM.activePath].src[key].statement == ''}">
                                    <td class="source-meta source-line-number" data-line-number="{{key}}"></td>

                                    <td class="source-meta source-line-scm" data-line-number="{{key}}">
                                    </td>
                                    
                                    <td class="source-meta source-line-duplications" style="cursor:pointer;" ng-click="duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][duplicationCodeDetailsVM.activePath].src[key].statement != '' && 
                                    duplicationCodeDetailsVM.showDuplicatedModal(duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][duplicationCodeDetailsVM.activePath], key, duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][duplicationCodeDetailsVM.activePath].src[key])"
                                    ng-style="{'background-color': duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][duplicationCodeDetailsVM.activePath].src[key].statement != '' ? duplicationCodeDetailsVM.colorCode[duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][duplicationCodeDetailsVM.activePath].src[key].dataIndex] : ''}">
                                        <div class="source-line-bar" tooltip-template="app/global/templates/tooltip.tpl.html" tooltip-scope="duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][duplicationCodeDetailsVM.activePath].src[key]" tooltip-append-element="body"></div>
                                    </td>


                                    <td class="source-meta source-line-issues " data-line-number="{{key}}">
                                    </td>

                                    <td class="source-meta source-line-filtered-container" data-line-number="{{key}}">
                                        <div class="source-line-bar"></div>
                                    </td>

                                    <td class="source-line-code code " data-line-number="{{key}}" ng-style="{'background-color': duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][duplicationCodeDetailsVM.activePath].src[key].statement != '' ? duplicationCodeDetailsVM.colorCode[duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][duplicationCodeDetailsVM.activePath].src[key].dataIndex] : ''}" >
                                        <div class="source-line-code-inner" >
                                            <span class="cd" style="white-space: pre;" >{{duplicationCodeDetailsVM.lineIntendation(duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][duplicationCodeDetailsVM.activePath].src[key].statement)}}</span>

                                            <div class="source-line-issue-locations"></div>
                                        </div>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            
            
            
            <!-- second column -->
            <div class="col-md-6 ng-scope" ng-if="duplicationCodeDetailsVM.selectedFiles &amp;&amp; duplicationCodeDetailsVM.selectedFiles.length > 0"  ng-class="{'padding-right-muted':($index % 2 == 1)}" style="height:375px;">
                <div class="panel panel-default">

                     <div class="panel-heading selectbox-heading clearfix"><strong><span class="glyphicon glyphicon-list"></span> <span data-i18n="Realtime Data">COMPARED FILE NAME:</span><span style="text-transform: lowercase;"><label tooltip-placement="top" tooltip="{{compareFile}}"> </label></span></strong>
                          <span class="ui-select pull-right margin-muted">
                              <select ng-model="selectedFile" ng-options="compareFile as compareFile for compareFile in duplicationCodeDetailsVM.selectedFiles" > 
                               
                               <option  ng-repeat="compareFile in duplicationCodeDetailsVM.selectedFiles">{{compareFile.substr.lastIndexOf('/') + 1)}}</option>  
                              </select>  
                          </span>
                        </div>
                    <div class="panel-body padding-muted">
                        <div id="scroll" jq-slim-scroll slim-scroll-option="{{duplicationCodeDetailsVM.slimScrollOptions}}">                       
                        <table class="source-table">
                            <tbody>                            
                               <tr class="source-line" ng-repeat="key in duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][selectedFile].src | transformObjKeysToArr"
                                    data-line-number="{{key}}"
                                    ng-class="{'empty-cell': duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][selectedFile].src[key].statement == ''}">
                                    <td class="source-meta source-line-number" data-line-number="{{key}}"></td>

                                    <td class="source-meta source-line-scm" data-line-number="{{key}}">
                                        
                                    </td>
                                    
                                    <td class="source-meta source-line-duplications" style="cursor:pointer;" ng-click="duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][selectedFile].src[key].statement != '' && 
                                    duplicationCodeDetailsVM.showDuplicatedModal(duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][selectedFile], key, duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][duplicationCodeDetailsVM.selectedFiles[0]].src[key]);duplicationCodeDetailsVM.selectedIndex=duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][selectedFile].src[key].dataIndex"
                                    ng-style="{'background-color': duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][selectedFile].src[key].statement != '' ? duplicationCodeDetailsVM.colorCode[duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][selectedFile].src[key].dataIndex] : ''}">                                
                                        <div class="source-line-bar" tooltip-template="app/global/templates/tooltip.tpl.html" tooltip-scope="duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][selectedFile].src[key]" tooltip-append-element="body"></div>
                                    </td>


                                    <td class="source-meta source-line-issues " data-line-number="{{key}}">
                                    </td>

                                    <td class="source-meta source-line-filtered-container" data-line-number="{{key}}">
                                        <div class="source-line-bar" ></div>
                                    </td>

                                    <td class="source-line-code code" ng-style="{'background-color': duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][selectedFile].src[key].statement != '' ? duplicationCodeDetailsVM.colorCode[duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][selectedFile].src[key].dataIndex] : ''}"  data-line-number="{{key}}">
                                        <div class="source-line-code-inner" ng-style="{'background-color': duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][selectedFile].src[key].statement != '' ? duplicationCodeDetailsVM.colorCode[duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][selectedFile].src[key].dataIndex] : ''}">
                                            <span class="cd" style="white-space: pre;">{{duplicationCodeDetailsVM.lineIntendation(duplicationCodeDetailsVM.duplicatedDiff[duplicationCodeDetailsVM.activePath][selectedFile].src[key].statement)}}</span>

                                            <div class="source-line-issue-locations"></div>
                                        </div>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            </div>
    </div>