<div class="modal-header">
    <button type="button" class="modal-close btn-link pull-right" data-dismiss="modal" aria-hidden="true" title="Close" ng-click="duplicatedByModalVM.close()"
    <i class="glyphicon glyphicon-remove"></i></button>
    <h4 class="modal-title">{{duplicatedByModalVM.header}}</h4>
</div>
<div class="modal-body" style="height:320px;overflow:auto;">
    <div ng-if="duplicatedByModalVM.lineNo" class="callout callout-info">{{duplicatedByModalVM.selectedBlockName && (duplicatedByModalVM.selectedBlockName + ' blocks of coded duplicated in the below mentioned File(s)')}}</div>
    <table id="mytable" class="table table-striped table-bordered">

        <thead>
            <th>
                <input type="checkbox" ng-model="duplicatedByModalVM.isSelectAll" ng-change="duplicatedByModalVM.selectAll(duplicatedByModalVM.isSelectAll)" />
            </th>
            <th>Files</th>
            <th>Lines</th>
        </thead>
        <tbody checkbox-list ng-model="duplicatedByModalVM.selectedFiles">

            <tr ng-repeat="(key, value) in duplicatedByModalVM.duplicatedBy" 
            ng-if="key != duplicatedByModalVM.activePath || (key == duplicatedByModalVM.activePath && duplicatedByModalVM.duplicationOccuredInSameFile) ">
                <td>
                    <input type="checkbox" class="checkthis" value="{{key}}" ng-model="duplicatedByModalVM.copyOfDuplicatedBy[key].isSelected" ng-change="duplicatedByModalVM.onFileChckChange()" />
                </td>
                <td><span>{{key}}</span></td>
                <td><span ng-repeat="(key, value) in value">{{key}} <span ng-hide="$last">,</span></span></td>
            </tr>
            
        </tbody>

    </table>
</div>

<div class="modal-footer">
    <div class="rs-btn-group" style="float:right;">
        <button ng-repeat="bt in duplicatedByModalVM.buttons" style="margin:0 5px;" class="btn" ng-class="bt.cssClass" ng-click="duplicatedByModalVM.onButtonClick(bt.result)"
        ng-bind="bt.label"></button>
    </div>
</div>